{% extends 'budget/base.html' %}

{% block content %}
<style>
        html,body{
          width:100%;
          margin:0;
            height:100%;
            background: #e9ecef;
        }
    </style>
<div class="container  w-100 h-100">
        <div class="row text-center justify-content-center align-items-center h-100">
                <div class="jumbotron">
                        <h2 class="display-5 text-grey font-weight-bold">Sorry, you don't have any projects yet</h2><Br/>
                        <a class="btn btn-primary btn-lg" href="#" role="button">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                Add Project
                        </a>
                      </div>
        </div>
      </div>


{% endblock %}